---
layout: default
---

<main>
    <section class="main-copy">

                <div class="image">
                        <img src="https://via.placeholder.com/400x400">
                </div>

                <div class="image">
                            <img src="https://via.placeholder.com/400x400">
                    </div>

                    <div class="image">
                                    <img src="https://via.placeholder.com/400x400">
                            </div>

                            <div class="image">
                                            <img src="https://via.placeholder.com/400x400">
                                    </div>

                                    <div class="image">
                                                    <img src="https://via.placeholder.com/400x400">
                                            </div>

                                            <div class="image">
                                                            <img src="https://via.placeholder.com/400x400">
                                                    </div>
    </section>
</main>

<script src="https://kit.fontawesome.com/95b7548f3c.js" crossorigin="anonymous"></script>
<script
src="https://code.jquery.com/jquery-3.4.1.min.js"
integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
crossorigin="anonymous"></script>
<script src="js/main.js"></script>