---
layout: default
---

<main>
    <section class="main-copy">

                    <div class="copy">
                                    <h1>Detail page</h1>
                                        <p>Illustration piece
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis congue urna ut justo gravida, sit amet porttitor dui varius. Nullam vehicula augue eget ligula accumsan mattis. Nunc euismod sed ex ut efficitur. Suspendisse nibh eros, placerat vitae gravida a, bibendum hendrerit neque. In lobortis quam id ipsum commodo, id congue neque laoreet. Donec non leo vel nulla cursus fermentum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Phasellus nec sodales dolor. Nam at egestas diam. Phasellus imperdiet, turpis a facilisis imperdiet, magna sapien bibendum eros, sed iaculis ante lacus id risus. Aenean sollicitudin est tellus, in dapibus felis volutpat sit amet. Fusce elementum pharetra augue cursus dictum. Nullam dignissim suscipit tellus, pharetra lobortis odio molestie nec. Fusce non sollicitudin leo.</p>
                                    </div>

                <div class="image">
                            <img src="https://via.placeholder.com/400x400">
                    </div>
    </section>
</main>


<!-- Lets put our Javascript down here -->
<script src="https://kit.fontawesome.com/95b7548f3c.js" crossorigin="anonymous"></script>
<script
src="https://code.jquery.com/jquery-3.4.1.min.js"
integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
crossorigin="anonymous"></script>
<script src="js/main.js"></script>
